@font-face {
    font-family: 'Gilroy';
    src: url("fonts/Gilroy-Regular.woff2"),
    url("fonts/Gilroy-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url("fonts/Gilroy-Medium.woff2"),
    url("fonts/Gilroy-Medium.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url("fonts/Gilroy-SemiBold.woff2"),
    url("fonts/Gilroy-SemiBold.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url("fonts/Gilroy-Bold.woff2"),
    url("fonts/Gilroy-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}


html,body,div,p,h1,header,nav,aside,footer,a,ul,li,input,form, h1, h2 {
    margin:0;padding:0;outline:0;border:0;
}
button {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    position: relative;
    color: #333333;
}

header, main, footer {
    padding: 0 4% 0 4%;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

header {
    z-index: 10;
    height: 72px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 5px;
}
nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

}
nav a:hover, nav a.active {
    color: rgba(0, 102, 204, 1);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec_table h2 {
    margin-top: 94px;
}
.sec_form h2, .sec_gallery h2 {
    margin-top: 104px;
}

.breadcrumbs {
    margin-top: 83px;
    color: #52575F;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}
.breadcrumb:hover {
    color: rgba(0, 102, 204, 1);
}

h1 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;

}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

section {
    max-width: 884px;
    width: 100%;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 55px;
    margin-top: 9px;
}

table {
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    color: #1D1D1F;
    font-size: 16px;
    line-height: 24px;
}

thead {
    background-color: #F5F5F7;
    font-weight: 600;
}


table th, table td {
    text-align: left;
    width: 100%;
}


table tr {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 0 31px 0 31px;
    align-items: center;
    height: 56px;
    font-weight: 400;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    column-gap: 10px;
}

.price_column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket_button {
    width: 98px;
    height: 32px;
    background-color: rgba(0, 102, 204, 0.1);
    border-radius: 4px;
    color: rgba(0, 102, 204, 1);
    font-weight: 600;
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    line-height: 24px;
    border: 0;
}

.basket_button:hover {
    background-color: rgba(0, 102, 204, 1);
    color: rgba(255, 255, 255, 1);
}





/* FORM*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.form_wrap {
    background-color: #F5F5F7;
    border-radius: 20px;
    max-width: 842px;
    padding: 96px;
    box-sizing: border-box;
}
h3 {
    margin: 0 0 47px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #1D1D1F;
}

.label_text {
    font-weight: 600;
    color: #1D1D1F;
}

/*<!--+++++++++++++++ОСТАВИТЬ ЗАЯВКУ +++++++++++++++++++++++++++++++++++-->*/



/*=====================ОСТАВИТЬ ЗАЯВКУ форма 1*/


#form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, minmax(56px, auto));
    row-gap: 38px;
    column-gap: 32px;
    font-size: 16px;
    line-height: 24px;

}


.form_name, .form_phone, .form_email, .form_comment, #sendFile, .form_price, .form_wishes, .form_password, .form-group {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    color: #1D1D1F;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 34px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid rgba(225, 225, 225, 1);
    box-sizing: border-box;
}
/**/

.form_name:focus, .form_phone:focus, .form_email:focus, .form_comment:focus, #sendFile:focus,
.form_price:focus, .form_wishes:focus, .form_password:focus {
    caret-color: rgba(0, 102, 204, 1);
    border: 1px solid rgba(0, 102, 204, 1);
}

.form_name, .name_label {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}


.form_price, .price_label, .slidecontainer, .slider, .prise-num {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
.slidecontainer {
    width: 100%;
    cursor: pointer;
}
.slider {
    height: 2px;
    width: 100%;
    margin-top: 89px;
}
.prise-num {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #58585D;
    line-height: 16px;
}





.square_button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #E1E1E1;
}
.left_square_button {
    border-radius: 4px 0 0 4px;
}
.right_square_button {
    border-radius: 0 4px 4px 0;
}
.square_button:hover {
    background-color: #0066CC;
    border: 1px solid #0066CC;
}
.square_button:hover .minus-white{
     display: block;
 }
.square_button:hover .minus{
    display: none;
}

.square_button:hover .plus-white{
    display: block;
}
.square_button:hover .plus{
    display: none;
}
.plus {
    display: block;
}
.plus-white {
    display: none;
}
.minus {
    display: block;
}
.minus-white {
    display: none;
}

.square_wrap {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    width: 222px;
    background-color: white;
    align-items: center;
    margin-top: 34px;
}
.square_label, .square_wrap {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.checkbox, .checkbox_label {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.checkbox {
    margin-top: 44px;
}
.form_phone, .phone_label {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.form_email, .email_label {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}


.file_label {
    border-radius: 4px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}
#drop-area {
    margin-top: 34px;
    min-height: 112px;
    padding: 32px;
    border: 1px dashed #B9B1B1;
    border-radius: 4px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    box-sizing: border-box;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}



.sendFile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #58585D;
    line-height: 24px;
    cursor: pointer;
}


#sendFile-gallery {
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
}
#sendFile-gallery img {
    justify-self: center;
    width: 130px;
    height: max-content;
    vertical-align: middle;
}
.sendFile-button-img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#fileElem {
    display: none;
}
.sendFile-text {
    font-size: 16px;
    color: #6C786A;
    font-weight: 400;
    text-align: center;
}

.file_preview {
    margin-top: -16px;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    gap: 8px;
    color: white;
    display: flex;
    flex-direction: column;
}
.files {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.file {
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    color: #58585D;
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}
.form-group, .select_label {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
.password, .password_label {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 5;
}
.password{
    position: relative;
}
.form_password {
    width: 100%;
}
.password-control {
    position: absolute;
    top: 51px;
    right: 6px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(password_close.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(password_open.svg) 0 0 no-repeat;
}






.reset {
    display: flex;
    width: 230px;
    padding: 8px 16px;
    margin: 0 auto;
    margin-bottom: 10px;

    border: solid 1px #c7ccd1;
    border-radius: 5px;

    transition: all 0.2s ease-out;

    cursor: pointer;

    font-weight: bold;

    background-color: #ffffff;
    color: #333333;
}

.reset:hover {
     background-color: #D8093A;
     color: #ffffff;
 }


.__select {
    position: relative;

    display: flex;
    width: 230px;
    height: 40px;
    margin: 0 auto;

    z-index: 1;
}







.form_wishes, .wishes_label, .wish_items  {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
}

.wish_items {
    margin-top: 106px;
    display: flex;
    gap: 8px;
}
.wish_item {
    background-color: #58585D;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 7px 13px 9px 16px;
    box-sizing: border-box;
}



#submitApplication {
    background-color: #0066CC;
    border-radius: 4px;
    height: 56px;
    width: 192px;
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 0;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}


.form_name::-webkit-input-placeholder, .form_phone::-webkit-input-placeholder,
.form_email::-webkit-input-placeholder,.form_comment::-webkit-input-placeholder,
.form_wishes::-webkit-input-placeholder, .form_price::-webkit-input-placeholder {
    color: #1D1D1F;
}


/*валидация полей НАЧАЛО*/

/*-----------------------СТИЛИ ДЛЯ НЕЗАПОЛНЕННЫХ ПОЛЕЙ ПОЛЕЙ*/

.form_name._error, .form_phone._error, .form_email._error, .form_comment._error, .form_wishes._error, .form_price._error{

    border: 1px solid rgba(220, 53, 69, 1);
}

.form_name._red:focus::-webkit-input-placeholder, .form_phone._red:focus::-webkit-input-placeholder,
.form_email._red:focus::-webkit-input-placeholder,.form_comment._red:focus::-webkit-input-placeholder,
.form_wishes._red:focus::-webkit-input-placeholder, .form_price._red:focus::-webkit-input-placeholder {
    color: transparent;
}

/*Chrome 57 и Firefox 51*/

.form_name._red::placeholder, .form_phone._red::placeholder, .form_email._red::placeholder,
.form_comment._red::placeholder, .form_wishes._red::placeholder, .form_price._red::placeholder{
    color: rgba(220, 53, 69, 1);
    font-size: 12px;
}
/*Firefox новые версии*/
.form_name._red::-moz-placeholder, .form_phone._red::-moz-placeholder, .form_email._red::-moz-placeholder,
.form_comment._red::-moz-placeholder, .form_wishes._red::-moz-placeholder, .form_price._red::-moz-placeholder{
    color: rgba(220, 53, 69, 1);
}
/*Internet Explorer*/
.form_name._red:-ms-input-placeholder, .form_phone._red:-ms-input-placeholder, .form_email._red:-ms-input-placeholder,
.form_comment._red:-ms-input-placeholder, .form_wishes._red:-ms-input-placeholder, .form_price._red:-ms-input-placeholder{
    color: rgba(220, 53, 69, 1);
}
/*Microsoft Edge*/
.form_name._red::-ms-input-placeholder, .form_phone._red::-ms-input-placeholder, .form_email._red::-ms-input-placeholder,
.form_comment._red::-ms-input-placeholder, .form_wishes._red::-ms-input-placeholder, .form_price._red::-ms-input-placeholder{
    color: rgba(220, 53, 69, 1);
}
/*Chrome, Opera и Safari*/
.form_name._red::-webkit-input-placeholder, .form_phone._red::-webkit-input-placeholder,
.form_email._red::-webkit-input-placeholder, .form_comment._red::-webkit-input-placeholder,
.form_wishes._red::-webkit-input-placeholder, .form_price._red::-webkit-input-placeholder{
    color: rgba(220, 53, 69, 1);
}
/*Firefox с 4 по 19 версии*/
.form_name._red-moz-placeholder, .form_phone._red-moz-placeholder, .form_email._red-moz-placeholder,
.form_comment._red-moz-placeholder, .form_wishes._red-moz-placeholder, .form_price._red-moz-placeholder{
    color: rgba(220, 53, 69, 1);
}

/*валидация полей КОНЕЦ*/



input {
    cursor: pointer;
    border-radius: 4px;
    height: 56px;
}







/*Send file +++++++++++++++++++++++++++++++++++++++++*/




#gallery {
    height: 1000px;
    background-color: darkorange;
}






/*progress ++++++++++++++++++++++++++++++++*/
